</h1><div class="main">
  <div class="container">
    <h1>Restaurants</h1>
      <% if @restaurants.any? %>
        <% @restaurants.each do |restaurant| %>
          <%= link_to restaurant.name, restaurant_path(restaurant) %>
            <% restaurant.reviews.each do |review| %>
              <br>
                Review for <%=restaurant.name %>: <%= review.thoughts %>
              <br>
            Given rating: <%= review.rating %>*
          <br>
        <% end %>
          <br>
            <%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %>
              <br>
              <%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %>
            <br>
          <%= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant) %>
        <br>
      <% end %>
      <% else %>
      <h1>no restaurants</h1>
      <% end %>
      <br>
    <a href="/restaurants/new">add a restaurant</a>
  </div>
</div>
